body {
  background: #bdc3c7;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.slot {
  width: 50%;
  padding: 20px;
  background: #ecf0f1;
  border: 5px solid #fff;
  border-radius: 10px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  display:flex;
  /* なぜかこれで真ん中になった */
}

.panel {
  float: left;
  text-align: center;
  margin: 0 auto;
}

.panel + .panel {
  margin-left: 15px;
}

.panel img {
  margin-bottom: 5px;
}

.stop {
  cursor: pointer;
  width: 200px;
  height: 40px;
  background: #ef454a;
  box-shadow: 0 3px 0 #d1483e;
  border-radius: 20px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  user-select: none;
}
#spin{
  /* idだから# */
  cursor: pointer;
  width: 400px;
  height: 50px;
  background: #3498db;
  box-shadow: 0 3px 0 #2880b9;
  border-radius: 20px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  user-select: none;
  margin: 0 auto;
  margin-top: 20px;
}
.unmatched{
  opacity: 0.5;
}